@model MakePaymentViewModel
@{
    ViewBag.Title = "Make Payment";
	ViewBag.CardTitle = "Make Payment";
}

<form asp-action="MakePayment" enctype="multipart/form-data" method="post">

    <input type="hidden" asp-for="StudentId" />
	<input type="hidden" asp-for="PaymentId" />
    <div class="form-group">
        <label asp-for="StudentName"></label>
        <input asp-for="StudentName" class="form-control" disabled />
        <span asp-validation-for="StudentName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Amount"></label>
        <input asp-for="Amount" class="form-control" disabled/>
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PaymentMethod"></label>
        <select asp-for="PaymentMethod" class="form-control">
            <option value="">Select method</option>
            @foreach (var method in Enum.GetValues(typeof(PaymentMethod)))
            {
                <option value="@method">@method</option>
            }
        </select>
        <span asp-validation-for="PaymentMethod" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Receipt"></label>
        <input asp-for="Receipt" type="file" class="form-control" />
        <span asp-validation-for="Receipt" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Submit Payment</button>
</form>
