<!-- Dashboard -->
<li class="nav-item">
    <a asp-area="Admin" asp-controller="Administration" asp-action="Index" class="nav-link">
        <i class="nav-icon bi bi-speedometer2"></i>
        <p>Dashboard</p>
    </a>
</li>

<!-- Roles -->
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon bi bi-shield-lock"></i>
        <p>
            Roles
            <i class="nav-arrow bi bi-chevron-down float-end"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Administration" asp-action="ListRoles" class="nav-link">
                <i class="nav-icon bi bi-list-ul"></i>
                <p>Manage Roles</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Administration" asp-action="CreateRole" class="nav-link">
                <i class="nav-icon bi bi-plus-circle"></i>
                <p>Create Role</p>
            </a>
        </li>
    </ul>
</li>

<!-- Users -->
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon bi bi-people-fill"></i>
        <p>
            Users
            <i class="nav-arrow bi bi-chevron-down float-end"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Administration" asp-action="ListUsers" class="nav-link">
                <i class="nav-icon bi bi-list-ul"></i>
                <p>Manage Users</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Administration" asp-action="CreateUser" class="nav-link">
                <i class="nav-icon bi bi-plus-circle"></i>
                <p>Create User</p>
            </a>
        </li>
    </ul>
</li>